transformers
diffusers==0.32.0
peft==0.15.0
opencv-python
protobuf
sentencepiece
gradio
jupyter
torch==2.4.1
deepspeed==0.16.7
accelerate==1.1.1
prodigyopt
datasets
torchvision
pycocotools==2.0.10
tensorboard
numpy==1.26.4
pandas
func_timeout
decord
matplotlib